@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
  margin:0;
  padding:0;
  list-style: none;
  color:darkgray;
}

body {
  width:100vw;
  font-family: 'Open Sans', sans;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 1800px;
  text-align: center;
  margin: 0 20px;
}

.all-wrapper {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.web-content {
  width:100vw;
  flex-grow:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.main{
  width:50%;
  margin:20px;
}

.main__title {
  margin: 20px;
}

.about-skills__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__about {
  display: flex;
  align-items: center;
}

.card {
  width:550px;
}

.card-content {
  width:100%;
  margin:0;
  padding: 0;
}
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__photo {
  width:20%;
  border-radius: 100%;
  display:block;
}

.about__text__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__content {
  max-width: 50%;
}

.main__skills {
 margin:20px;
 width:40%;
}


.skills__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__element {
  margin:5px;
  padding:5px;
  background-color:rgba(169, 169, 169, 0.267);
  border-radius: 3px;
  color:#0a0a0a83;
}


/* PROJECTS */

.title-container {
  z-index: 2;
}

.projects__title {
  margin-top:40px;
}

.projects {
  background-color: white;
  border-radius: 15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 35px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  width: 100%;
  height: 100%;
  perspective: 1800px;
  margin-bottom: 20px;
}

.project {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
  cursor: pointer;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  height: 200px;
  width: 300px;
  text-align: center;
  margin:10px;
  background-color:rgba(128, 128, 128, 0.247);
}

.project__img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.project__bg {
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  z-index: 0;
}

.project__text {
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%);
  bottom: 0;
  display: flex;
  flex-direction: column; 
  height: 70px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.project__title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 3px;
}

.footer{
  flex-grow: 0;
  height: 100px;
  display: flex;
  width:100%;
  justify-content: center;
  margin-top:20px;
}

.twitter__icon {
  height: 30px;
}

.social-list {
  display: flex;
}

.social-list__icon{
  margin:20px;
  text-decoration: none;
}

.icon {
  color:darkgray;
}

.fab .fas{
  transition: transform ease 0.8s;
}

.fab:hover,
.fas:hover {
  transform: scale(1.5);
  color: black;
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
  .card {
    width:700px;
  }

}
@media (min-width: 800px) {
  .about-skills__wrapper {
    flex-direction: row;
  }

  .card {
    width:600px;
  }

}